{if="empty($_GET['source'])"}
<div id="footer" class="container text-center">
  <strong><a href="https://github.com/shaarli/Shaarli">{'Shaarli'|t}</a></strong> - {'The personal, minimalist, super-fast, database free, bookmarking service<br>by the Shaarli community'|t} - <a href="doc/Home.html" rel="nofollow">{'Help/documentation'|t}</a>
    {loop="$plugins_footer.text"}
        {$value}
    {/loop}
</div>
{/if}

{loop="$plugins_footer.endofpage"}
    {$value}
{/loop}

{if="$newVersion"}
<div id="newversion">
  <span id="version_id">&#x25CF;</span> Shaarli {$newVersion}{' is'|t}
  <a href="https://github.com/shaarli/Shaarli/releases">{'available'|t}</a>.
</div>
{/if}
{if="$versionError"}
<div id="newversion">
  {'Error:'|t} {$versionError}
</div>
{/if}
{if="isLoggedIn()"}
<script>function confirmDeleteLink() {
  var agree=confirm("{'Are you sure you want to delete this link?'|t}"); if (agree) return true ; else return false ;
}</script>
{/if}

<script type="text/javascript" src="inc/jquery/jquery.min.js"></script>
<script type="text/javascript" src="inc/bootstrap/js/bootstrap.min.js"></script>
{loop="$plugins_footer.js_files"}
	<script src="{$value}#"></script>
{/loop}
